.error-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ddd;
}

.error-page h1 {
  font-size: 80px;
  color: #952525;
}
.error-page h2 {
  font-size: 60px;
}
